<p *ngIf="users.length < 1">fuck</p>
<table mat-table [dataSource]="users" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{element.personalInfo.firstName}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!--<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-8">
      </div>
      <div class="col-xs-4">
        <a class="btn btn-info btn-md"
           (click)="refreshUsers()">
          <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
      </div>
    </div>
    <ng-container *ngIf="users.length > 0; then showUsers; else loading"></ng-container>
    <ng-template #showUsers>
      <app-users-item *ngFor="let userElement of userDisplayList; let i = index"
                      [user]="userElement"
                      [index]="i">
      </app-users-item>
    </ng-template>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
</div>-->
