<div class="row">
  <div class="col-xs-9">
    <ng-container *ngIf="users.length > 0; then showUsers; else loading"></ng-container>
    <ng-template #showUsers>
      <app-users-item *ngFor="let userElement of users"
                      [user]="userElement"
      >
      </app-users-item>
    </ng-template>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-default btn-sm"
            (click)="refreshUsers()">
      <span class="glyphicon glyphicon-refresh"></span> Refresh
    </button>
  </div>
</div>
