<a href="#" class="list-group-item clearfix"
   (click)="onClickItem()">
  <div class="pull-left">
    <ng-container *ngIf="user.personalInfo.firstName.length > 0; then hasName; else noName "></ng-container>
    <ng-template #hasName>
      <h3 class="list-group-item-heading">{{ user.personalInfo.firstName }} {{ user.personalInfo.lastName }}</h3>
    </ng-template>
    <ng-template #noName>
      <h3 class="list-group-item-heading"> No Name </h3>
    </ng-template>
    <p class="list-group-item-text">{{ user.username }}</p>

  </div>

  <span class=" pull-right
  ">
  <img src="https://www.kindpng.com/picc/b/22/223965.png" alt="" class="img-responsive"
       style="max-height: 50px;">
  </span>
</a>

<!--
<button class="btn btn-primary center-block"
        (click)="onClickDelete()">
  Delete User
</button>-->
