<div class="componentBorder">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <img src="https://www.kindpng.com/picc/b/22/223965.png" alt="" class="img-responsive"
             style="max-width: 150px">
      </div>
      <div class="pull-right">
        <button class="btn btn-default" (click)="onEditClick()"><i class="glyphicon glyphicon-pencil"
        ></i> Edit
        </button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> Delete</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ng-container *ngIf="user.personalInfo.firstName.length > 0; then hasName; else noName "></ng-container>
      <ng-template #hasName>
        <h1 *ngIf="!canEditCode" class="list-group-item-heading">{{ user.personalInfo.firstName }}</h1>
        <input *ngIf="canEditCode" [(ngModel)]="user.personalInfo.firstName" type="text" class="form-control">
      </ng-template>
      <ng-template #noName>
        <h1 class="list-group-item-heading"> No Name </h1>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Email: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; {{  user.username  }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Birthday:&nbsp;&nbsp;&nbsp;&nbsp; {{  user.personalInfo.dateOfBirth | date:'dd/MM/yyyy' }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>School: &nbsp; &nbsp; &nbsp;&nbsp;??</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Class: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;??</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Weight: &nbsp; &nbsp; &nbsp; {{ user.physique.weight }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Height: &nbsp; &nbsp; &nbsp; {{ user.physique.height}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"> *empty line*
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <p *ngIf="canEditCode" align="center">
        <button class="btn btn-success pull-left"
                (click)="onConfirmClick()">
          <i class="glyphicon glyphicon-check"></i> Confirm
        </button>
        <button class="btn btn-danger pull-right">
          <i class="glyphicon glyphicon-trash"></i> Cancel
        </button>
      </p>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>

<!--
<div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
-->



