<!--Start of picture and edit & delete bt-->
<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <img src="https://www.kindpng.com/picc/b/22/223965.png" alt="" class="img-responsive"
           style="max-width: 150px">
    </div>
    <div class="pull-right">
      <button class="btn btn-default"
             [routerLink]="['edit']">
        <i class="glyphicon glyphicon-pencil"></i>
        Edit
      </button>
      <button class="btn btn-default" (click)="onDelete()"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
  </div>
</div>
<!-- Stat of titles  -->
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3">
    <div class="row">
      <div class="col-xs-12">
        <h1>Name:</h1>
      </div>
      <div class="col-xs-12">
        <h3>Email:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Birthday:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>School:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Class:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Weight:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Height:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"> *empty line*
      </div>
    </div>
  </div>
  <!--Start of data display-->

  <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{dummyUser.personalInfo.firstName}}</h1>
        </div>
        <div class="col-xs-12">
          <h3>{{dummyUser.username}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ dummyUser.personalInfo.dateOfBirth | date:'dd/MM/yyyy' }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>??</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>??</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ dummyUser.physique.weight }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ dummyUser.physique.height}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"> *empty line*
        </div>
      </div>
  </div>
</div>

