<div class="row">
  <div class="loginSpecial">
    <img src="assets/img/logo.png" class="img-responsive"
         style="max-height: 500px">
    <label>Brugernavn</label>
    <input type="text" id="name" class="form-control" #user/>
    <label>Adgangskode</label>
    <input type="password" id="password" class="form-control" #pass
           (keydown.enter)="clickOnLoginBtn(user.value,pass.value)"/>
    <div class="loginSpecial"></div>
    <button class="btn btn-primary center-block"
            (click)="clickOnLoginBtn(user.value,pass.value)">
      Login
    </button>
    <img src="../../../assets/healthylogo.svg">
  </div>
</div>
