<div class="statisticsSpecial">
<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  [legendTitle]="legendTitle"
>
</ngx-charts-pie-chart>

<p></p>

<button mat-raised-button (click)="clickOnStatisticsUpdate()">Update</button>

<button mat-raised-button (click)="clickOnStatisticsTest()">Test Add 1</button>

<button mat-raised-button (click)="clickOnStatisticsTest2()">Test Add 2</button>

</div>
