<div class="container">
  <button class="btn btn-default" [routerLink]="['/users']"><i class="glyphicon glyphicon-arrow-left"></i> Users
  </button>
  <div class="row">
    <div class="col-xs-3">
      <hr>
      <h1>Showing statistics for</h1>
      <h2 *ngIf="showUserStats">{{user.personalInfo.firstName}} {{user.personalInfo.lastName}}</h2>
      <h2 *ngIf="!showUserStats">{{user.personalInfo.firstName}} {{user.personalInfo.lastName}}'s class</h2>
      <button *ngIf="showUserStats" mat-raised-button (click)="clickOnStatsClass()">Show stats for Class</button>
      <button *ngIf="!showUserStats" mat-raised-button (click)="clickOnStatsPupil()">Show stats for pupil</button>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div user-stats *ngIf="showUserStats">
    <div class="statisticsSpecial">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        [legendTitle]="legendTitle">
      </ngx-charts-pie-chart>
    </div>
  </div>
  <div class-stats *ngIf="!showUserStats">
    <div class="statisticsSpecial">
      <ngx-charts-bar-vertical
        [results]="single"
        [view]=[500,250]
        [scheme]="colorScheme"
        [barPadding]="10"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendTitle]="'Legend'"
        [xAxisLabel]="'Pupils'"
        [yAxisLabel]="'Total XP'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true">
      </ngx-charts-bar-vertical>
    </div>
  </div>


</div>
